{% extends 'base.html' %}

{% block content %}
<main>
   {% if user.is_authenticated %}
    <nav>
        <li>
            <a href="{% url 'create_category' %}">Create category</a>
        </li>
    </nav>
    {% endif %}
    <div>
        <h1>Create Category</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
