{% extends 'base.html' %}
{% block content %}
<main>
    {% if user.is_authenticated %}
    <nav>
        <li>
            <a href="{% url 'category_list' %}">Category List</a>
        </li>
        <li>
            <a href="{% url 'account_list' %}">Account List</a>
        </li>
    </nav>
    {% endif %}
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
                <tr>
                    <td>{{receipt.vendor}}</td>
                    <td>{{receipt.total}}</td>
                    <td>{{receipt.tax}}</td>
                    <td>{{receipt.date|date:"m/d/y"}}</td>
                    <td>{{receipt.category}}</td>
                    <td>{{receipt.account}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
